{
  "root": true,
  "env": {
    "es6": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "semi": "warn",
    "comma-dangle": "warn",
    "curly": [
      "error",
      "all"
    ],
    "indent": [
      "error",
      2
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": true,
        "arraysInObjects": true
      }
    ],
    "require-jsdoc": [
      "off"
    ],
    "operator-linebreak": [
      "error",
      "before"
    ],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "ignorePattern": "^\\s*test"
      }
    ]
  }
}
